<div class="container">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#knives" href="#knives">
         <p> Knivar</p>
        </a>
      </h4>
    </div>
    <div id="knives" class="panel-collapse collapse">
      <div class="panel-body">
    <img ng-repeat="img in knives" ng-src={{img.url}} id="{{img.id}}"></img>
      </div>
      </div>
      </div>
      </div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#measures" href="#measures">
         <p> Mått</p>
        </a>
      </h4>
    </div>
    <div id="measures" class="panel-collapse collapse">
      <div class="panel-body">
    <img ng-repeat="img in measures" ng-src={{img.url}} id="{{img.id}}"></img>
      </div>
      </div>
      </div>
      </div>

</div>

