<div class="input-group">
  <input type="number" class="form-control" placeholder="minuter" ng-model="countmin" aria-describedby="countdownmin">
  </br>
   <button class="btn btn-primary" ng-click="count(countmin)">Börja!</button></br>
  <ol class="breadcrumb">
  <li>{{countmin}}</li>
  <li>{{countsec}}</li>
</ol>
  <!--<span class="input-group-addon" id="countdownmin">Minuter</span>-->

</div>
<div class="container">
Sök ingredienser: <input type="text" ng-model="query">
<button class="btn btn-primary" ng-click="search(query)">Sök!</button>

<div>
<div class="col-md-4 well" ng-if="rname">
<ul class="bg">
<a ui-sref="recipename"><img ng-src={{rimg}} id="{{rname}}" ng-click="trigger1(rname)"></img></a>
<h3 class="white">{{rname}}</h3>
<li ng-repeat="ingredient in ingredients " ng-bind-html="ingredient | highlight:query" ng-if="ingredient"></li>
</ul>
</div>
<div class="col-md-6 well" ng-if="rname2">
<ul class="bg">
<a ui-sref="recipename"><img ng-src={{rimg2}} id="{{rname2}}" ng-click="trigger2(rname2)"></img></a>
<h3 class="white">{{rname2}}</h3>
<li ng-repeat="ingredient in ingredients2" ng-bind-html="ingredient | highlight:query" ng-if="ingredient"></li>
</ul>
</div>
<div class="col-md-6 well" ng-if="rname3">
<ul class="bg">
<a ui-sref="recipename"><img ng-src={{rimg3}} id="{{rname3}}" ng-click="trigger3(rname3)"></img></a>
<h3 class="white">{{rname3}}</h3>
<li ng-repeat="ingredient in ingredients3" ng-bind-html="ingredient | highlight:query" ng-if="ingredient"></li>
</ul>
</div>
</div>
</div>
</div>
